@using MvcOnlineCommercialAutomation.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DetailDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Detail Department Page</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Picture</th>
        <th>Sales</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.EmployeeID</th>
            <th>@x.EmployeeName</th>
            <th>@x.EmployeeSurname</th>
            <th>@x.EmployeePicture</th>
            <th><a href="/Department/DepartmentEmployeeSales/@x.EmployeeID" class="btn btn-default" style="background-color:coral">
                Sales</a></th>
        </tr>

    }
</table>
