@model MvcOnlineCommercialAutomation.Models.Classes.Product
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Update Product Page</h2>
<br />
@using(Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ProductID)
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Brand)
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stock)
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PurchasePrice)
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SellPrice)
    @Html.TextBoxFor(x => x.SellPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category.CategoryID)
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vls1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.ProductPicture)
    @Html.TextBoxFor(x => x.ProductPicture, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Update</button>
}